<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible", content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/tailwind.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/ui.js"></script>
    <title>Thinker</title>
  </head>
  <body class="w-screen h-screen bg-white">

    <div id="app" class="w-full flex flex-col overflow-y-scroll overflow-x-hidden bg-white top-0">
      <img src="/img/top.png" alt="" class="w-full">

      <div class="w-full flex flex-row m-2 content-center ">
        <img src="/img/art.png" class="rounded-full h-10 w-10">
        <div class="flex flex-col w-full ml-1">
          <div class="text-xl font-bold">
            TheThinker4.0.U
          </div>
          <div class="text-sm">
            this is my pretend real version of myself
          </div>
        </div>
      </div>

      <img id="img" src="/img/face.jpg" class="w-full h-full">

      <div class="w-full flex flex-row">
        <div id="like" class="w-1/2 rounded-lg text-lg border-black border-2 flex justify-center p-1 m-1 hover:shadow-lg">
          Like
        </div>
        <div id="skip" class="w-1/2 rounded-lg text-lg border-black border-2 flex justify-center p-1 m-1 hover:shadow-lg">
          Skip
        </div>
      </div>

      <div class="flex flex-col mx-4">
        <div id="viewed" class="text-sm font-bold">
          Viewed by: joeMama1989, roofus44, thatGuy69, and 74 others.
        </div>
        <div id="post" class="text-md flex flex-wrap">
          I got a snapshot of my girlfriend during her premiere for her new book. #fromnothingtosomething
        </div>
      </div>

      <div class="w-full bg-white fixed bottom-0">
        <img src="/img/bottom.png" alt="" class="w-full">
      </div>
    </div>

    <div id="look" class="w-full h-full flex bg-black justify-center overflow-y-hidden p-4">
      <div id="msg" class="self-center h-50 w-50 text-2xl text-white p-4">
        <img src="/img/lookup.png" alt="">
      </div>
    </div>



  </body>
</html>
